<h1>Answering Question:</h1>
<h3><%= @question.title %></h3>
<hr>
<%= simple_form_for [@question, @answer] do |f| %>
<%= f.input :body, :label => "Your Answer:", required: true %>
<%= f.input :question_id, as: :hidden %>
<%= f.button :submit, "Add Answer", class: "btn btn-success" %>
<% end %>
