<%= form_for @user_session, url: login_path do |f| %>
  <% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div align="center">
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  </div>

  <br />

  <div align="center">
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  </div>

  <br />

  <div align="center">
  <%= f.submit "Login", class: "btn btn-success"%>
  <%= link_to "New here? Sign up!", signup_path, class: "btn btn-primary" %>
  </div>
<% end %>
